{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <title>RefMatches</title>
    <meta name="viewport" content="width=device-width initial-scale=1"/>
    <link rel="stylesheet" href="{% static 'ref_analysis/css/search_form.css' %}">
    <script src="{% static 'ref_analysis/js/jquery-3.7.1.min.js' %}"></script>
    <script src="{% static 'ref_analysis/js/search_form.js' %}"></script>
</head>
<body>
    <header class="headerContents">
        <h2>審判相性チェッカー</h3>
    </header>
    <main>
        <section id="description">
            <h1 class="largeFont">本サイト概要</h1>
            <h3>あなたが応援してるチームと気になる審判の相性を確認することができるサイトです。</h3>
            <h3>検索条件を設定して、気になる審判が担当した過去の試合結果を見てみましょう。</h3>
        </div>
        <button class="btn-neomorph-dark" id="startButton">始める</button>
        <div id="overlay"></div>
        <section id="searchCondition">
            <form id="searchForm" method="GET" action="{% url 'search_result' %}">
                <button id="closeSearch" class="close-btn" type="button">×</button>
                <div class="selectElement">               
                    <label for="categoryLabel">カテゴリ</label>
                    <select id="categorySelect">
                        <button>
                            <selectedcontent></selectedcontent>
                        </button>
                        <option value="" class="placeHolder" disabled selected>カテゴリを選択してください</option>
                        <option value="1">明治安田J1LEAGUE</option>
                        <option value="2">明治安田J2LEAGUE</option>
                        <option value="3">明治安田J3LEAGUE</option>
                    </select>
                </div>
                <div class="selectElement">
                    <label for="teamLabel">チーム</label>
                    <select id="teamSelect" name="team_id" disabled>
                        <button>
                            <selectedcontent></selectedcontent>
                        </button>
                        <option value="" class="placeHolder" disabled selected>チームを選択してください</option>
                        {% for team in teams %}
                            <option value="{{ team.team_id }}" class="{{ team.team_category }}">
                                {{ team.team_name }}
                            </option>
                        {% endfor %}

                    </select>
                </div>
                <div class="selectElement">            
                    <label for="refreeLabel">主審</label>
                    <select id="refereeSelect" name="referee_id">
                        <button>
                            <selectedcontent></selectedcontent>
                        </button>
                        <option value="" class="placeHolder" disabled selected>主審を選択してください</option>
                        {% for referee in referees %}
                            <option value="{{referee.referee_id}}">
                                {{ referee.referee_name }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
                <div class="selectElement">
                    <label for="termLabel">期間</label>
                    <select id="termSelect" name="term">
                        <button>
                            <selectedcontent></selectedcontent>
                        </button>
                        <option value="" class="placeHolder" disabled selected>期間を選択してください</option>
                        <option value="1">過去1シーズン</option>
                        <option value="2">過去2シーズン</option>
                        <option value="3">過去3シーズン</option>
                    </select>
                </div>
                <button class="btn-neomorph-dark" type="submit">検索</button>
        </form>
        </section>
    </main>
    <div id="errorPopup">
        <p>すべての項目を選択してください</p>
        <button id="errorClose">OK</button>
    </div>
    <div id="errorOverlay"></div>
</body>
</html>