body {
margin: 0;
background-image: url(../img/background1.jpg);
background-size: cover;
font-family: Arial, "Noto Sans JP", sans-serif;
color: #102040;
}

.result-container {
max-width: 26.25rem;
margin: auto;
padding: 1.25rem;
}

.header {
border-bottom: 0.0625rem solid #ddd;
color: #ddd;
}

.team-info {
text-align: center;
color: #ddd;
}

.team-info h2 {
font-size: 1.25rem;
}

.team-info p {
font-weight: bold;
}

.score-section {
display: flex;
justify-content: center;
margin: 1.875rem 0;
}

.score-circle {
width: 14.375rem;
height: 14.375rem;
border-radius: 50%;
background: conic-gradient(
#32d17c 0% 75%,
#e8edf3 75%
);
display: flex;
justify-content: center;
align-items: center;
}

.score-circle div {
width: 11.25rem;
height: 11.25rem;
border-radius: 50%;
background: white;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}

.score-circle span {
font-size: 3.4375rem;
font-weight: bold;
}

.score-circle small {
font-size: 1.25rem;
}

.summary {
display: grid;
grid-template-columns: repeat(5, 1fr);
gap: 0.375rem;
margin-top: 3.5rem;
}

.summary-card {
background: #40597c;
color: white;
padding: 0.625rem 0.1875rem;
border-radius: 0.625rem;
text-align: center;
}

.summary-card strong {
display: block;
font-size: 1.5rem;
}

.summary-card p {
font-size: 0.6875rem;
margin: 0;
}

.goal-section {
margin-top: 1.25rem;
background: white;
border-radius: 0.9375rem;
display: grid;
grid-template-columns: 1fr 1fr;
box-shadow: 0 0.3125rem 0.9375rem #ddd;
}

.goal-section div {
text-align: center;
padding: 0.9375rem;
}

.goal-section strong {
font-size: 2.1875rem;
color: #20855f;
}

.recent-section {
margin-top: 1.25rem;
background: white;
padding: 0.625rem;
border-radius: 0.9375rem;
}

table {
width: 100%;
border-collapse: collapse;
}

th {
font-size: 0.75rem;
}

td {
text-align: center;
padding: 0.5rem;
font-size: 0.8125rem;
}

.win,
.draw,
.lose {
width: 1.8rem;
height: 1.8rem;
border-radius: 50%;
display: inline-flex;
justify-content: center;
align-items: center;
color: white;
font-size: 0.875rem;
line-height: 1;
}

.win {
background: #2ecc71;
}

.draw {
background: #f1c40f;
}

.lose {
background: #e74c3c;
}

/* =========================
PC Layout
========================= */

@media screen and (min-width: 48rem) {
.result-container {
max-width: 68.75rem;
padding: 2.5rem;
}


.header h3 {
    font-size: 1.75rem;
}

.team-info {
    text-align: left;
    margin-top: 1.875rem;
}

.team-info h2 {
    font-size: 2rem;
}

.team-info p {
    font-size: 1.125rem;
}

.score-section {
    margin: 3.125rem 0;
}

.score-circle {
    width: 18.75rem;
    height: 18.75rem;
}

.score-circle div {
    width: 15rem;
    height: 15rem;
}

.score-circle span {
    font-size: 4.6875rem;
}

.score-circle small {
    font-size: 1.5625rem;
}

.summary {
    grid-template-columns: repeat(5, 1fr);
    gap: 1.25rem;
}

.summary-card {
    padding: 1.5625rem 0.625rem;
    border-radius: 0.9375rem;
}

.summary-card strong {
    font-size: 2.25rem;
}

.summary-card p {
    font-size: 1rem;
}

.goal-section {
    grid-template-columns: repeat(4, 1fr);
    margin-top: 2.5rem;
}

.goal-section div {
    padding: 1.875rem;
}

.goal-section strong {
    font-size: 2.8125rem;
}

.recent-section {
    margin-top: 2.5rem;
    padding: 1.5625rem;
}

.recent-section h3 {
    font-size: 1.5rem;
}

th {
    font-size: 1rem;
    padding: 0.9375rem;
}

td {
    font-size: 1rem;
    padding: 0.9375rem;
}

}


#backButton-Top {
display: flex;
align-items: center;
gap: 0.3rem;
width: fit-content;
color: #ddd;
text-decoration: none;
cursor: pointer;
font-size: 0.8rem;
}

.back-circle {
display: inline-flex;
justify-content: center;
align-items: center;
width: 1rem;
height: 1rem;
border-radius: 50%;
background-color: #20855f;
color: #ddd;
font-size: 0.5rem;
font-weight: bold;
line-height: 1;
}
